body {
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    display: flex;
}

#loading-screen {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mid, .left, .right {
    height: 100%;
    width: calc(100% / 3);
}

.left {
    .bolivar-button {
        border: none;
        background: none;
        width: 20%;
        height: auto;

        &:hover {
            cursor: pointer;
        }

        img {
            height: 100%;
            width: 100%;
        }
    }
}

.building {
    width: 30%;
    border: solid;

    &:hover {
        cursor: pointer;
    }
}

.mejora {
    width: fit-content;
    border: solid;

    &:hover {
        cursor: pointer;
    }
}